@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* header */

header {
  padding: 1% 0;
  background-color: #00204E;
}


.container {
  width: 80%;
  margin: auto;
  display: flex;
}

header .container {
  justify-content: space-between;
}

header .logo{
  width: 120px;
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}


.navbar {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.navbar .login{
  color: #FFFFFF;
  border-radius: 5px;
  border: #FFFFFF solid 1px;
  padding: 8px 10px 3px 10px;
}

.navbar .login img{
  height: 19px;
  margin-right: 5px;
}


/* BANNER */

.banner {
  height: fit-content;
  display: flex;
  /* background-color: #FFFFFF; */
  /* background-size: cover; */
}

.banner .card  {
  height: fit-content;
  font-size: 36px;
  /* align-items: center; */
}

.tamanho-conteudo { 
  height: fit-content !important;
  justify-content: center;
}

.banner .cabecalho{
  align-items: center;
  margin-bottom: 30px;
}

.card h2 {
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 5px;
}

.banner .cabecalho p {
  /* width: 50%; */
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 0.45em;
}
/* 
.banner .container span {
  font-weight: 800;
} */

/* .banner .container .card {
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* .card {
  display: flex;
  justify-content: space-around;
} */


/* .card h4 {
  font-size: 16px;
} */

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 16px;
  /* font-weight: 600 !important; */
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario input {
  margin: 5px 0 15px 0;
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
  border-radius: 12px;
}

.fundo{
  display: flex;
  justify-content: flex-end;
  height: 60vh;
  margin-top: 120px;
  margin-right: 200px;
  /* height: 89vh; */
  /* width: 10px; */
}

.termos input{
  cursor: pointer;
  border: 1px solid #000000;
}

.termos label{
  font-size: 10px;
}

.termos a{
  color:#00204E
}

.formulario .btn_cadastrar{
  background-color: #00204E;
  color:#FFFFFF;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
}

/* menu hamburguer */
.menu_lateral{
  display: none;
}

.hamburger{
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 5;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line{
  /* display: none; */
  width: 100%;
  height: .1rem;
  padding: 1px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
  transition: transform .7s;
}

.show-menu #line1{
  transform: rotate(45deg) translate(.4rem, .9rem);
  background-color: white;
  box-shadow: none;
}

.show-menu #line2{
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3{
  transform: rotate(-45deg) translate(.3rem, -.9rem);
  background-color: white;
  box-shadow: none;
}

.sidebar{
  display: none;
  width: 100%;
  height: 100vh;
  background: #00204E;
  box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
  position: fixed;
  top: 0;
  right: -100%;
  transition: all .8s;
}

.show-menu .sidebar{
  right: 0;
}

.menu{
  display: flex;
  flex-direction: column;
  margin-top: 68vh;
  margin-left: 13vh;
  align-items: baseline;
}

.menu-item{
  display: none;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 36px;
  font-size: 20px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.menu-link{
  font-family:sans-serif;
  font-size: 2rem;
  color: rgb(245, 245, 245);
  transition: color .7s;
  line-height: 9vh;
}

.menu-link:hover{
  color: white;
  transition: color .7s;
}

/* responsividade */


@media (max-width: 974px) {
  .nav-list .login {
      margin-left: 6vh;
}
}


/* Responsividade 768px - Menu */
@media (max-width: 768px) {

  /* menu lateral */
  .navbar {
    display: none;
  }

  .menu_lateral{
    display: block;
  }

  .line {
      display: block;
  }

  .nav-list {
      display: none;
  }

  .sidebar {
      display: block;
  }

  .menu-item {
      display: block;
  }

  /* conteudo */
  .banner .container{
    width: 30%;
  }

  .cabecalho h2{
    font-size: 16px;
  }

  .banner .cabecalho p {
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 10px;
  }

  .formulario .tipo_campo {
    font-size: 10px;
  }
  
  .formulario input {
    margin: 3px 0 13px 0;
    border: 1px solid #000000;
    padding: 3px;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
  }
  
  .termos label{
    font-size: 8px;
  }
  
  .fundo{
    display: flex;
    justify-content: flex-end;
    height: 268px;
    margin-top: 100px;
    margin-right: 120px;
  }
}