@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: "Rubik";
    overflow: hidden;
}

.maedetodos {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
}

.nav-lateral {
    display: flex;
    background-color: #00204F;
    width: 17%;
    height: 100%;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.logo {
    display: flex;
    margin-top: 2rem;
}

.container-mae {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.nav-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    display: flex;
    align-items: center;
    width: 93.5%;
    height: 40px;
    padding-left: 1rem;
}

.maq {
    background-color: #14A81E;
}

.nav-list a {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    gap: 1rem;
}

.nav-list li:hover {
    cursor: pointer;
    background-color: #14A81E;
    transition: .5s ease;
}

.container-centralizar {
    display: flex;
    justify-content: center;
    display: row;
}

.container-cadastro {
    margin-left: 25vh;
    align-items: center;
    margin-top: 20vh;
}

.container-centralizar {
    gap: 10vh;
}

.imagem-cadastro {
    margin-top: 10vh;
}


.texto-cadastro h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.descricao-cadastro h2 {
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-top: 2vh;
    margin-bottom: 40px;
}


.seta {
    display: flex;
    align-items: flex-start;
    margin-right: 30%;
    margin-bottom: 10%;
    width: 28px;
    height: 0px;
    border: 0.5px solid #908e8e;
    transform: rotate(90deg);
}




body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #e7dfdf 0%, #908e8e 100%);
}

body::-webkit-scrollbar-thumb {
    background-color: #50FF6B;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}








/* Formulário */

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #34D411 3px solid;
    padding: 10px;
    margin-left: 30vh;
    margin-left: 300vh;
    top: 19vh;
    right: 70vh;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.formulario .tipo_campo {
    font-size: 16px;
    display: flex;
    font-family: 'Inter';
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;
}

.formulario input {
    margin: 5px 0 15px 0;
    border: 1px solid #000000;
    padding: 1.5vh;
    border-radius: 12px;
    line-height: 0;
    outline-color: #00EB25;
    font-family: 'Inter', FontAwesome;
    line-height: 0;
    width: 43vh;
    padding-inline-start: 10vh;
}


.icon i {
    width: 40px;
}


button {
    cursor: pointer;
}


.fundo {
    display: flex;
    justify-content: flex-end;
    height: 647px;
}


.container-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    right: 1;
}

.icon {
    position: absolute;
    left: 0;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.icon i {
    font-size: 25px;
    text-align: start;
    margin-bottom: 1vh;
}


.button-cadastro {
    background-color: #00204E;
    color: #FFFFFF;
    border-radius: 10px;
    border-width: 1px;
    width: 55vh;
    height: 6vh;
    transition: .2s ease;
    font-family: Rubik;
}

.button-cadastro:hover {
    background-color: #073370;
    color: white;
}