@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Rubik";
    overflow: hidden;
}

.maedetodos {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
}

.nav-lateral {
    display: flex;
    background-color: #00204F;
    width: 15%;
    height: 100%;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.logo {
    display: flex;
    margin-top: 2rem;
}

.container-mae {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.nav-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    display: flex;
    align-items: center;
    width: 93%;
    height: 40px;
    padding-left: 1rem;
}

.maq {
    background-color: #34D411;
}

.nav-list a {
    display: flex;
    text-decoration: none;
    color: white;
    gap: 1rem;
}

.nav-list li:hover {
    cursor: pointer;
    background-color: #34D411;
    transition: .5s ease;
}


.container-maquina {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 2rem;
    padding: 2rem;
    margin-left: 5.5rem;
}

.maquina {
    display: flex;
    width: 20%;
    background-color: #00204F;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    transition: .2s ease;
    gap: 1rem;
}

.maquina img {
    width: 5vh;
}

.maquina:hover {
    transform: scale(1.1);
    border: 2px solid #164ea1;
}

.container-maquina a {
    text-decoration: none;
    color: white;
    list-style: none;
}

.maquina h1 {
    color: white;
}

.maquinaAdicional {
    display: flex;
    width: 20%;
    background-color: none;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    border: 2px solid #00204F;
    color: #00204F;
    font-size: 50px;
    transition: .2s ease;
}

.maquinaAdicional:hover {
    transform: scale(1.1);
    border: 2px solid #164ea1;
}

.container-desempenho {
    display: flex;
    width: 100%;
    margin-left: 8rem;
}

.desempenhoMaquina {
    display: flex;
    padding: 5rem;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.desempenhoMaquina h1 {
    font-size: 20px;
    font-weight: 500;
}

.cardDesempenho {
    display: flex;
    background-color: #00204F;
    padding: 3rem;
    width: 100%;
    border-radius: 15px;
    gap: 1rem;
}

.verde {
    display: flex;
    background-color: #4FF35D;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 15px;
    gap: 1rem;
}

.verde h1 {
    color: white;
    font-size: 60px;
}

.verde h2 {
    color: white;
    font-size: 20px;
}

.vermelho {
    display: flex;
    background-color: #F34F4F;
    width: 50%;
    padding: 1rem 0;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
    gap: 1rem;
}

.vermelho h1 {
    color: white;
    font-size: 60px;
}

.vermelho h2 {
    color: white;
    font-size: 20px;
}

.grafico {
    background-color: rgb(195, 238, 130);
    padding: 5rem;
    width: 50%;
}