@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bg-banner: #00204E;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #e7dfdf 0%, #908e8e 100%);
}

body::-webkit-scrollbar-thumb {
    background-color: #50FF6B;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}


body {
    font-family: 'Rubik';
    overflow-x: hidden;
    background-color: #001028;
}

a {
    color: #ffff;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00204E;
    height: 12vh;
    background-image: linear-gradient(to bottom, #437CCE38, #00204E);
    z-index: 5;
}

.icone-logo {
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-top: 0.5vh;
    align-items: center;
}

.nav-list li:hover {
    text-shadow: 0.03em 0.03em 0.5em #52b4de;
    cursor: pointer;
    transition: 0.5s;
}

.container-mae-links .nav-list li {
    letter-spacing: 1px;
    margin-left: 36px;
    font-size: 20px;
    padding: 2px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list .login {
    margin-left: 15vh;
}

/* Botão que direciona ao login */
.login {
    border-radius: 3px;
    background-color: transparent;
    border-color: white;
    color: white;
    height: 35px;
    width: 85px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: .2s ease;
    font-size: 15px;
}

.login:hover {
    transform: scale(1.1);
}

.menu li {
    padding: 5px 8px 5px 8px;
}

.container-mae-links {
    margin-right: 10%;
}


/* Navbar responsiva */

.hamburger {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 5;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    top: 2rem;
}



.line {
    display: none;
    width: 100%;
    height: .1rem;
    padding: 1px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
    transition: transform .7s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.4rem, .9rem);
    background-color: white;
    box-shadow: none;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.9rem);
    background-color: white;
    box-shadow: none;
}

.sidebar {
    display: none;
    width: 100%;
    height: 100%;
    background: #00204E;
    box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
    position: fixed;
    top: 0;
    right: -100%;
    transition: all .8s;
}

.show-menu .sidebar {
    right: 0;
}

.show-teste .sidebar {
    right: 100;
}

.menu {
    margin-top: 70vh;
    margin-left: 5.5rem;
    width: 65%;
}

.menu-item {
    display: none;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 36px;
    font-size: 20px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.menu-link {
    font-family: sans-serif;
    font-size: 2rem;
    color: rgb(245, 245, 245);
    transition: color .7s;
    line-height: 9vh;
}

.menu-link:hover {
    color: white;
    transition: color .7s;
}


/* FIM DO CABEÇALHO */
/* Banner */
.bannerSlogan {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-banner);
    padding: 8rem 0 12rem;
    background-image: url(../assets/effect.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: exclusion;

}

.containerslogan {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ladoesquerdo {
    width: 50%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    color: white;
}

.ladodireito {
    width: 100%;
    padding-top: 2rem;
    animation: quadro_flutuando 9.5s infinite
}


.ladoesquerdo button {
    font-size: 20px;
    color: white;
    background: #50FF6B;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-family: 'Rubik';
    transition: .2s ease;
}

.ladoesquerdo button:hover {
    box-shadow: 0.03em 0.03em 0.5em #00EB25;
    cursor: pointer;
    transform: scale(1.1);
}


.containerslogan .ladodireito {
    width: 50%;
    justify-content: end;

}

.containerslogan .ladodireito img {
    margin-left: 100px;
}

/* FIM DO BANNER */
/* 1º CONTEÚDO DA PÁGINA */
.sobreNosHome {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    background-color: white;
}

.sobreNos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    gap: 3.5rem;
    width: 35%;
}

.sobreNos h1 {
    font-size: 30px;
    color: #50FF6B;
    font-weight: 800;
    letter-spacing: 1px;
}

.sobreNos p {
    font-size: 25px;
    color: black;
    line-height: 2rem;
}


.sobreladoesquerdo {
    width: 35%;
    display: flex;
    justify-content: center;
    animation: quadro_flutuando 9.5s infinite;
}

.sobreNosHome img {
    height: 480px;
}

/* inicio dos beneficios */

.beneficios {
    width: 100%;
    background-color: #D3E0FD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 3rem;
    padding: 5rem 0;
}

.beneficios h1 {
    font-size: 30px;
    color: #1876FF;
    font-weight: 800;
    letter-spacing: 1px;
}

.containerbeneficio {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cardbeneficio {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.cardbeneficio .minicard i {
    font-size: 2.7rem;
    color: white;
}

.card {
    width: 70%;
    padding: 1rem;
    background-color: #7eb4ffaf;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.card:nth-child(2) {
    transform: translateX(40px);
}

.card:nth-child(3) {
    transform: translateX(80px);
}

.minicard {
    width: 12%;
    background-color: #1876FF;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.minicard img {
    width: 50px;
}

.frasecard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    gap: 1rem;
}

.frasecard h2 {
    font-size: 20px;
    color: #1876FF;
    text-transform: uppercase;
}

.frasecard p {
    font-size: 15px;
    color: #00204E;
}


.imagembeneficio {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: quadro_flutuando 9.5s infinite;
}

.imagembeneficio img {
    width: 450px;
}


.servicos {
    width: 100%;
    padding: 8rem 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    background-color: white;
}

.servicos h1 {
    font-size: 30px;
    color: #001B42;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.containerservicos {
    width: 70%;
    padding: 2rem 3rem;
    background-color: #91ffa1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    border-radius: 5px;
    gap: 5rem;
}

.cardservico {
    background-color: #001B42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    gap: 1.5rem;

}

.imgservico {
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-80px);
}

.imgservico img {
    width: 200px;
}

.textoservico {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.textoservico h2 {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.textoservico p {
    color: white;
    font-weight: 200;
    line-height: 1.6rem;
}

/* Começo da equipe */

.equipe {
    width: 100%;
    gap: 4rem;
    padding: 8rem 0 8rem;
    background-color: #00204E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equipe h1 {
    font-size: 30px;
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
}

.containerequipe {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.membro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.membro img {
    width: 200px;
    box-shadow: -10px 10px 0 #0B57C4;
}

.membro-info {
    position: absolute;
    right: -35px;
    background-color: #0B57C4;
    padding: 1rem;
    z-index: 1;
    border-radius: 3px;
    transition: .2s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.membro:hover .membro-info {
    opacity: 1;

}

.membro-info h2 {
    color: white;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons a {
    text-decoration: none;
    color: white;
}

.icons i {
    transition: .2s ease;
}

.icons i:hover {
    transform: scale(1.1);
}

/* FOOTER */


.footer {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    color: aliceblue;
    background-color: #001028;
    padding: 1.5rem 0rem;
}

.logo {
    width: 30%;
    margin: auto;
}

.links {
    width: 30%;
}

.redesSociais {
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudoLinks {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.conteudoRedesSoc {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    gap: 1rem;
    width: 30%;
    align-items: center;
}

.conteudoRedesSoc :hover {
    text-shadow: 0.03rem 0.03rem 0.5rem #52b4de;
}

.conteudoLinks :hover {
    text-shadow: 0.03em 0.03em 0.5em #52b4de;
}

.footer img {
    height: 65px;

}

.barrinha {
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    justify-content: center;
    width: 90%;
    border: 2px solid white;
}

.direitos {
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    color: aliceblue;
}



/* FIM DO FOOTER */

/* Responsividade 974px - Quebrar expaçamento do login e links */

@media (max-width: 974px) {
    .nav-list .login {
        margin-left: 6vh;

    }
}


/* Responsividade 768px - Menu */
@media (max-width: 768px) {
    .line {
        display: block;
    }

    .nav-list {
        display: none;
    }

    .sidebar {
        display: block;
    }

    .menu-item {
        display: block;
    }
}

/* Responsividade primeiro conteúdo */
@media (max-width: 768px) {

    .containerslogan {
        display: flex;
        flex-wrap: wrap;
    }

    .ladoesquerdo {
        width: 100%;
        gap: 2rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .ladodireito {
        width: 100%;
    }

    .containerslogan .ladodireito img {
        display: none;

    }
}

/* Responsiveidade segundo conteúdo */
@media (max-width: 768px) {
    .sobreNosHome {
        display: flex;
        flex-wrap: wrap;
    }

    .sobreNosHome img {
        height: 20rem;
        margin-top: 50px;
    }

    .sobreNos p {
        text-align: -webkit-left;
    }

    .sobreNos h1 {
        font-size: 45px;
        color: #50FF6B;
        text-align: center;
    }
}

/* Responsividade terceiro conteúdo serviços */
@media (max-width: 768px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card {
        width: 100%;
        margin: auto;
    }

    .servicosOferecidos {
        padding-top: 3rem;
    }

    .cardsServicos {
        width: 70%;
        height: 1327px;
        border-radius: 20px;
        background-color: #00204E;
        z-index: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .servicosOferecidoscinza {
        height: 1151px;
    }

    .containerservicos {
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .cardservico {
        padding: 5rem 0 3rem;
    }
}

/* Responsividade da parte dos benefícios*/
@media (max-width :768px) {

    .sobreNos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
        gap: 4rem;
        width: 75%;
        padding-right: 0;
        padding-bottom: 5rem;
    }

    .minicard {
        display: none;
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card:nth-child(3) {
        transform: translateX(0px);
    }

    .cardbeneficio {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .containerbeneficio {
        flex-wrap: wrap;
        gap: 3rem
    }

    .imagembeneficio {
        width: 100%;
    }

    .imagembeneficio img {
        width: 90%;
    }
}

/* FOOTER */
@media (max-width :768px) {
    .footer {
        position: relative;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 3rem;
    }

    .footer .logo {
        width: 50%;
        margin: auto;
    }

    .conteudoRedesSoc {
        margin-left: 4.4rem;
        ;
    }

    .redesSociais {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .conteudoLinks {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}

/* EQUIPE */
@media (max-width :768px) {
    .containerequipe {
        grid-template-columns: none;

    }

    .membro .membro-info {
        opacity: 1;
        gap: 2rem;

    }

    .membro-info {
        position: relative;
        right: 0;
        background-color: #0B57C4;
        padding: 1rem;
        z-index: 1;
        border-radius: 3px;
        transition: .2s ease;
        opacity: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
    }
}

@keyframes quadro_flutuando {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}


/* Correção  Alinhamento menu Hamburguer*/
@media (max-width: 600px) {

    .menu {
        margin-top: 68vh;
        margin-left: 10vh;
        width: 55%;
    }


}