body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    background-color: #00204E;
}
/* CABEÇALHO */
.cabecalho .container{
    width: 90%;
    margin: auto;
    display: flex;

}
.cabecalho h1{
    width: 30%;
    margin: 40px;
}
.cabecalho a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}
.cabecalho .selecionado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.cabecalho img{
    height: 70px;
}
.cabecalho .container .barrnaveg{
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: flex-end   ;

}
.barrnaveg li{
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
    font-size: 25px;
}
.barrnaveg .botao{
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid white;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
}
.barrnaveg img{
    height: 20px;
    padding-right: 10px;

}
.barrnaveg .cadeadoLogin{
    margin-top: 2px;
    margin-bottom: 2px;
}
/* FIM DO CABEÇALHO */
/* FOOTER */
.footer{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;

}
.footer {
    width: 90%;
    margin: auto;
    display: flex;
    

}
.footer .logo{
    width: 33.33%;
    margin: auto;
}
.footer .links{
    width: 33.33%;
}
.footer .links li{
    list-style: none;
}
.footer .redesSociais{
    width: 33.33%;
}
.footer .redesSociais li{
    list-style: none;
    margin: 0%;
}
.footer .redesSociais .conteudoRedesSoc{
    display: flex;
    justify-content: space-evenly;
    
    
}
.footer .redesSociais .conteudoRedesSoc img{
height: 40px;
}
.footer .redesSociais .conteudoRedesSoc li{
    
justify-content: space-between;
    
}
.footer img{
    height: 70px;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: white;
}
.barrinha{
    margin-top: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    border: 3px solid white;
}
.direitos{
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
}
/* FIM DO FOOTER */